#docs {
    margin-top: 50px;
}

p, blockquote {
    font-size: 17px;
    font-weight: 200;
}

.sub-stacked-nav {
    margin-left: 20px;
}

.nav > li > span {
    display: block;
    padding: 10px 15px;
}