<html>
    <head>
        <script src="../../target/warp9.js"></script>
    </head>
    <body>
        <div id="canvas"></div>
    </body>
    <script type="text/javascript">
        var Component = warp9.ui.Component;

        function COMPONENT() {
            var trigger = new warp9.Cell(false);
            return ["div",
                ["div",
                    ["button", {
                        "!click": function() {
                            trigger.set(!trigger.get());
                        }
                    }, "Click me!"]],
                trigger.when(true, new Component(function(){
                    console.info("processing component");
                    this.dispose = function() {
                        console.info("disposing component");
                    };
                    return ["div", "Clicked odd times!"]
                }))
            ];
        }

        warp9.render(canvas, COMPONENT());
    </script>
</html>